/* reset */
*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* base */
:root {
    font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    min-height: 100vh;
    min-width: 300px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    min-height: 100vh; /*contentious*/
    position: relative;
    
}
.content-wrapper {
    margin: 0 20px;
}
ul {
    list-style: none;
}
.hidden {
    display: none;
}
a {
    color: currentColor;
    cursor: pointer;
    text-decoration: none;
}
/* header */
header {
    background-image: linear-gradient(to right,#276174,#33c58e,#63fd88);
    position: sticky;
    top: 0;
    width: 100%;
}
.logo-menu-wrapper {
    align-items: center;
    display: flex;
    height: 75px;
    justify-content: space-between;
    padding: 0 20px;
}
.logo,.menu {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}
.menu {
    border: 3px solid #000;
    border-radius: 10px;
    padding: 4px;
}
nav ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 500;
    justify-content: center;
}
nav ul li {
    margin-top: 2px;
}
button {
    background-color:#dde1e7;
    border:none;
    border-radius:15px;
    box-shadow:2px 2px 5px #babecc,-5px -5px 10px #ffffff73;
    color:#000;
    cursor:pointer;
    font-size:1rem;
    font-weight:600;
    height:50px;
    letter-spacing: 0.1ch;
    margin:15px 0;
    outline:none;
    padding:10px;
}
button a {
    background-clip: texts;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right,#276174,#33c58e);
    color: transparent;
}
button:hover {
    transform: scale(1.1);
    transition: 1s linear;
    transition-property: all;
}
.service-card {
    /* background: red; */
    border-radius: 20px;
    box-shadow:2px 2px 5px #242528,-5px -5px 10px #ffffff73;
    height: 220px;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    width: 300px;
}
.services {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.fab,.fas,.far {
    font-size: 3rem;
}