/* 1. Base */
html {
    background-color: #ffffff;
    background-image: url(/images/plants.jpg);
    background-position: center; /*important*/
    background-size: cover;
    color: #ffffff;
    font-family: "Comfortaa", sans-serif;
    left:0 ;
    line-height: 1.5;
    min-height:100vh;
    min-width:300px;
    overflow-x: hidden;
    top: 0;
    width: 100%;
}
body {
    margin: 10px;/*contentious*/
    position: relative;
}
a {
    color: currentColor;
    cursor: pointer;
    text-decoration: none;
}
.logo h1 {
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
}
/* 2. Shared */

/* 3. Specific */
.header-content {
    display: flex;
    margin-bottom:30px;
}
.nav-menu li {
    display: inline-block;
    font-weight: bold;
    padding: 5px;
    margin-right: 5px;
}
.nav-menu li a {
    border-bottom: 2px solid white;
    text-transform: uppercase;
}
.welcome-message {
    font-size: 7rem;
    margin-bottom: 15px;
}
.about,.work {
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.social li {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}
.social li a {
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
}
.social a:hover {
    transform: scale(1.25);
}
.contact {
    display: flex;
    justify-content: center;
    vertical-align: top;
    margin-top: 15px;
}
.button {
    border-radius: 10px;
    border: 3px solid #ffffff;
    padding: 10px;
    margin-bottom: 15px;
}
.button:hover {
    transform: scale(1.1);
}
.copyright-info {
    text-align: center;
}
.social {
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
}
.footer-content {
    align-items: center;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    position: absolute;
    width: 100%;
    height: 40px;
}
#gigs,#me {
    text-decoration: underline;
}
.main-content {
    margin-bottom: 50px;
    padding-bottom: 40px;
}
.hr {
    margin-bottom: 20px;
}
/* 4. Responsiveness */
@media screen and (max-width:799px) {
   .header-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width:800px) {
    .header-content {
        align-items: center;
        justify-content: space-between;
    }
    dl {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    dl div {
        display: inline-block;
        margin-right: 20px;
    }
}
/* for work pages */
.work-header-content {
    color: #001900;
}
.work-html {
    background-image: none;
    color: #000000;
}
.logo-work h1 {
    font-weight: bold;
    border: 2px solid #001900;
    border-radius: 5px;
    padding: 5px;
}
.nav-menu-work li a {
    border-bottom: 2px solid #001900;
    text-transform: uppercase;
}
.work-title {
    text-decoration: underline #ff7400;
}
.description {
    text-align: center;
}
dt {
    font-weight: 1000;
}
.work-body {
    position: relative;
    text-align: ;
}
.screenshots {
    margin-bottom: 15px;
}
.solutions {
    margin-top: 20px;
}
.special-link {
    text-decoration: underline #ff7400;
}