*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: Fira Code;
    font-size: 16px;
}
body {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px;
    min-height: 100vh;
}
h1 {
    font-size: 3rem;
    
}
h2 {
    font-size: 2rem;
}
h1,h2 {
    font-family: Fira Code;
    font-weight: 400;
    text-align: center;
}
ul {
    list-style-type: none;
    margin-top: 15px;
}
li {
    display: inline-block;
    margin-right: 15px;
}
a {
    color: currentColor;
    text-decoration: none;
}
div {
    align-items: center;
    background-image: linear-gradient(to right, #5d69be,#c89feb);
    border-radius: 15px;
    /* box-shadow: 5px 5px 5px 5px gray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 320px;
    padding: 30px;
}
button {
    border-style: none;
    border-radius: 5px;
    font-family: Fira Code;
    font-weight: 600;
    margin-top: 15px;
    padding: 5px;
}
.twitter-link {
    background-color: #1da1f2;
}
.github-link {
    background-color: #211f1f;
}
.twitter-link,.github-link {
    color: white;
    border-radius: 5px;
    letter-spacing: .2ch;
    padding: 5px;
}
div:hover {
    background-image: linear-gradient(to right,#c89feb,#5d69be);
}
.email-link {
    color: red;
}
.phone-link {
    color: #059142;
}
@media (min-width:425px) {
    .phone-link {
        display: none;
    }
}