/* 1. Base */
html {
    background-color: #ffffff;
    color: #000000;
    font-family: "Cairo", sans-serif;
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    line-height: 1.5;
    min-height:100vh;
    min-width:300px;
    overflow-x: hidden;
}
body {
    margin-left: 30px;
    margin-right: 30px;
}
a {
    color: currentColor;
    cursor: pointer;
    text-decoration: none;
}
.logo h1 {
    font-weight: bold;
}
/* 2. Shared */

/* 3. Specific */
.header-content {
    display: flex;
    margin-bottom:30px;
}
.nav-menu li {
    display: inline-block;
    font-weight: bold;
    padding: 5px;
    margin-right: 5px;
}
.nav-menu li a {
    text-decoration: underline;
    text-transform: uppercase;
}
.welcome-message {
    font-size: 84px;
    margin-bottom: 15px;
}
.about {
    font-size: 28px;
    margin-bottom: 15px;
}
.social li {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}
.social li a {
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
    opacity: 0.5;
}
.social a:hover {
    opacity: 1;
    transform: scale(1.25);
}
.contact {
    display: flex;
    justify-content: center;
    vertical-align: top;
    margin-top: 15px;
}
.button {
    border-radius: 230896px;
    border: 3px solid #000000;
    padding: 10px;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.5);
    margin-bottom: 15px;
}
.copyright-info {
    text-align: center;
}
.social {
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
}
/* 4. Responsiveness */
@media screen and (max-width:799px) {
    .header-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width:800px) {
    .header-content {
        align-items: center;
        justify-content: space-between;
    }
}