/* 1. Base */
html {
    background-color: #ffffff;
    background-image: url(/images/plants.jpg);
    background-position: center; /*important*/
    background-size: cover;
    color: #ffffff;
    font-family: "Comfortaa", sans-serif;
    left:0 ;
    line-height: 1.5;
    min-height:100vh;
    min-width:300px;
    overflow-x: hidden;
    top: 0;
    width: 100%;
}
body {
    margin: 30px;/*contentious*/
}
a {
    color: currentColor;
    cursor: pointer;
    text-decoration: none;
}
.logo h1 {
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
}
/* 2. Shared */

/* 3. Specific */
.header-content {
    display: flex;
    justify-content: space-between;
    margin-bottom:30px;
}
.nav-menu li {
    display: inline-block;
    font-weight: bold;
    padding: 5px;
    margin-right: 5px;
}
.nav-menu li a {
    border-bottom: 2px solid white;
    text-transform: uppercase;
}
.welcome-message {
    font-size: 9rem;
    margin-bottom: 15px;
}
.about {
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.social li {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
}
.social li a {
    font-size: 1.5rem;
    height: 2rem;
    width: 2rem;
    opacity: 0.5;
}
.social a:hover {
    opacity: 1;
    transform: scale(1.25);
}
.contact {
    display: flex;
    justify-content: center;
    vertical-align: top;
    margin-top: 15px;
}
.button {
    border-radius: 10px;
    border: 3px solid #ffffff;
    padding: 10px;
    margin-bottom: 15px;
}
.button:hover {
    transform: scale(1.1);
}
.copyright-info {
    text-align: center;
}
.social {
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: center;
}
.footer-content {
    width: 100%;
    bottom: 0;
    height: 40px;
}
/* 4. Responsiveness */
@media screen and (max-width:799px) {
   /* .header-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }*/
}
@media screen and (min-width:800px) {
    .header-content {
        align-items: center;
        justify-content: space-between;
    }
}