/* universal styles */
*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --accent-color:#10a5f5;
    --base-color:#ffc619;
    --dark-color:#212121;
    --light-color:#ffffff;
    color: var(--dark-color);
    font-family: "Nunito",sans-serif;
    font-size: 1rem;
    /* TODO:possibly add more universal styles */
}
body {
    background-color: var(--base-color);
    min-height: 100vh;
    min-width: 150px; /*revisit*/
    overflow-x: hidden;
    /* the question on creating another container as a child div of body */
}
ul {
    list-style-type: none;
}
a {
    /* revisit */
    text-decoration: none;
}
img {
    height: auto;
    width: 100%;
}
/* homepage - some styles may apply to other pages */
.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}
.header-container {
    position: sticky;
    top: 0;
    z-index: 3;
}
.main-header {
    /* add dynamic styles here */
    align-items: center;
    background-color: var(--accent-color);
    color: var(--light-color);
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 10px;
}
.nav-icon {
    cursor: pointer;
}
.content-container {
    margin: 0px 20px;
    /* text-align: center; */
}
.welcome-message {
    font-size: 1.5rem;
    text-align: center;
}
.name {
    background-color: var(--accent-color);
    border-radius: 10px;
    color: var(--light-color);
    display: inline-block;
    font-family: "Bubblegum Sans";
    /* outline: none; */
    padding: 10px;
}
.name:hover {
    transform: scale(1.1);
}
footer {
    align-items: center;
    background-color: var(--accent-color);
    color: var(--light-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
footer a {
    color: currentColor;
    text-decoration: none;
}
footer i {
    font-size: 1.2rem;
    margin-right: 5px;
}
.logo,.nav-items {
    font-weight: 600;
    letter-spacing: .2ch;
}
.navigation {
    display: none;
}
.nav-items {
    align-items: center;
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav a {
    color: var(--light-color);
}
/* about page */
.main-image{
    height: 250px;
    margin: 0 auto;
    width: 250px;
}
.top-margin {
    margin-top: 20px; /*revisit class name and function*/
}
.about {
    /* revisit */
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 30px;
}
/* services page, projects page */
/* h2 {
    margin-top: 30px;
} */
/* new code */
.service,.project {
    margin-top: 20px;
}
.service-name,.project-name {
    background-color: var(--accent-color);
    border-radius: 5px;
    color: var(--light-color);
    display: inline-block;
    padding: 5px;
}
/* .service-description {} */
.service-image,.project-image {
    /* background-color: red; */
    height: 180px;
    width: 250px;
}
.project-link {
    color: currentColor;
    font-weight: 600;
    text-decoration: underline;
}
/* contact page */
form {
    background-color: var(--accent-color);
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
}
input,textarea {
    border: none;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    padding: 5px;
}
.btn-container {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
form button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}
.form-container {
    align-items: center;
    display: flex;
    justify-content: center;
    /* min-height: 100vh; */
}
.contact-link {
    background-color: var(--accent-color);
    border-radius: 5px;
    color: var(--light-color);
    display: inline-block;
    padding: 5px;
}
/* responsiveness */
@media(min-width:768px) {
    .nav-icon {
        display: none;
    }
    .navigation {
        display: block;
    }
    .nav-items {
        flex-direction: row;
    }
    .header-container {
        align-items: center;
        background-color: var(--accent-color);
        display: flex;
        justify-content: space-between;
    }
    .nav-items li {
        margin-right: 15px;
    }
    .welcome-message {
        font-size: 2rem;
    }
    .about,.service-description,.service-name,.project-name,.project-description,.project-link,.contact-content {
        font-size: 1.5rem;
    }
    .content-container {
        margin: 0 100px; /*contentious*/
    }
}
/* swup */
.transition-fade {
    opacity: 1;
    transition: 500ms; /*needs refining*/
    transform: translateX(0);
    transform-origin: left;
}
html.is-animating .transition-fade {
    opacity: 1;
    transform: translateX(100%);
}
html.is-leaving .transition-fade {
    opacity: 0;
    transform: translateX(0);
}
