/* reset */
*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* base */
:root {
    border: 2px green solid;
    font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    min-height: 200vh;
    min-width: 300px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    border: 2px solid red;
    min-height: 100vh; /*contentious*/
    position: relative;
    
}
.content-wrapper {
    margin: 0 20px;
}
ul {
    list-style: none;
}
.navigation {
    display: none;
}
/* header */
header {
    background-image: linear-gradient(to right,#276174,#33c58e,#63fd88);
    position: sticky;
    top: 0;
    width: 100%;
}
.logo-menu-wrapper {
    align-items: center;
    display: flex;
    height: 75px;
    justify-content: space-between;
    padding: 0 20px;
}
.logo,.menu {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}
.menu {
    border: 3px solid #000;
    border-radius: 10px;
    padding: 4px;
}