/* default values */
*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    /* background-color: #222222; */
    color: #ffffff;
    font-size: 16px;
    height: 100%;
    line-height: 1.4;
    min-height: 100vh;
    min-width: 300px;
}
body {
    height: 100%;
}
a {
    color: currentColor;
    text-decoration: none;
}
/* main sections */
.intro,.skills,.work {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro {
    background-color:#222222;
    height: 100%;
}
.skills {
    background-color: blue;
    height: 100%;
}
.work {
    background-color: green;
    height: 100%;
}
/* other */
.welcome-message,.skills-message,.work-message {
    font-size: 2rem;
    letter-spacing: .1rem;
    padding: 10px;
    text-align: center;
}
span {
    font-size: 1rem;
}
button {
    border: none;
    border-radius: 5px;
    letter-spacing: .05rem;
    padding: 10px;
}
